body{
    font-size: 16px;
    font-family: Signika;
    max-width: 1024px;
    --color-gris: #9a9a9a;
}

#imagenes_header{
    float: right;
}

#imagenes_header img{
    width: 35px;
    margin-right: 5px;
}

header nav{
    margin: 50px 0px;
}

header{
    margin-left: 20px;
}

header nav ul{
    list-style: none;
    margin: 0px;
    margin-left: -40px;
}

header nav ul li{
    display: inline;
    margin-right: 20px;
    color: #231f20;
    font-size: 1.2em;
    
    
}

#primer-seccion hr{
    margin-bottom: 30px;
}

hr{
    border-style: dashed;
    border-color: var(--color-gris);

}

.letra-gris{
    color: var(--color-gris);
}

.Titulo-Grande{
    font-size: 4.5em;
    text-transform: uppercase;
    font-family: Signika;
    font-weight: 700;
}
.texto-verde{
    color: #78f14c;
}

.nito{
    font-weight: bold;
}

#go_to_shop{
    position: relative;
    top: 50px;
    left: 480px;
    width: 200px;
}

#buy{
    position: relative;
    top: 100px;
    left: 220px;
    width: 60px;
}

#logo_firstbike{
    width: 200px;
}

#primer-seccion{
    height: 480px;
    vertical-align: top;
}

#primer-seccion article{
    display: inline-block;

}

#video1{
    height: 180px;
    margin-top: 40px;
    margin-right: 30px;
}

#video2{
    height: 180px;
}

#bike{
    width: 50%
}

#secc01art01{
    margin-top: 10px;
}

#secc01art02{
    width: 53%;

}

#secc01art03{
    float: right;
    width: 44%;
    height: 90%;
    vertical-align: top;
    margin-top: -195px;
    margin-left: 20px;
}

#secc01art03 #bike{
    width: 90%;
}

#warranty{
    width: 30%;
    margin-top: -700px;
}

#tercer-seccion{
    margin-top: 70px;
}

#tercer-seccion img{
    margin-right: 10px;
}

footer{
    width: 100%;
    margin-top: 50px;

}

footer article{
    display: inline-block;
    width: 16%;
    margin-left: 8px;
    margin-right: 30px;
    vertical-align: top;
}

footer article li{
    list-style: none;
    margin-left: -40px;
    
}


