body{
    background-color: lightgray;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px auto;
    max-width: 723px;
}

.contenedor{
    display: grid;
    grid-template: 
    "header header"
    "navbar navbar"
    "links principal"
    "lprogress principal";
}

.cubes{
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 1fr));
    gap: 5px;
    text-align: center;
}

.cubes article{
    border-radius: 5px;
    font-size: 0.6em;
    padding: 10px 15px;
    color: rgb(184, 255, 213);
}

.cubes article:nth-child(1){
    background-color: rgb(25, 168, 33);
}

.cubes article:nth-child(2){
    background-color: rgb(26, 109, 169);
}

.cubes article:nth-child(3){
    background-color: rgb(127, 26, 167);
}

.cubes article:nth-child(4){
    background-color: rgb(167, 25, 25);
}

.cubes img{
    width: 50px;
}

.header{
    background-color: rgb(35, 92, 146);
    text-align: center;
    grid-area: header;
}

.header img{
    width: 150px;
}

.links{
    background-color: rgb(30, 73, 114);
    color: white;
    font-size: 0.6em;
    text-align: left;
    grid-area: links;
    width: 150px;
}

.links img{
    width: 15px;
    vertical-align: middle;
}

.links h4{
    background-color: rgb(35, 92, 146);
    margin: 0px;
    padding: 5px 0px;
}

.navbar{
    background-color: rgb(239, 239, 239);
    padding: 10px 5px;
    text-align: right;
    grid-area: navbar;
}

.navbar img{
    width: 70px;
}

.Panels{
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 1fr));
    gap: 5px;
    text-align: center;
}

.Panels h4{
    color: white;
    font-size: 2em;
    margin: 0px;
    width: 100%;
}

.panels01porcentaje{
    background-color: rgb(188, 231, 240);
}

.panels02porcentaje{
    background-color: rgb(250, 234, 204);
}

.panels03porcentaje{
    background-color: rgb(235, 204, 208);
}

.Panels article:nth-child(1){
    border: 1px solid rgb(188, 231, 240);
}

.Panels article:nth-child(2){
    border: 1px solid rgb(250, 234, 204);
}

.Panels article:nth-child(3){
    border: 1px solid rgb(235, 204, 208);
}

.Panels img{
    width: 150px;
}

.principal{
    background-color: white;
    grid-area: principal;
    margin-left: 10px;
    /*padding: 10px; */
}

.principalTitulos{
    color: rgb(174, 174, 174);
    font-size: 0.6em;
}

.progress{
    background: white;
    color: black;
    font-size: 0.6em;
    text-align: left;
    grid-area: lprogress;
    margin-top: 15px;
}

.progressbarra{
    width: 100%;
}

.progress h4{
    background-color: rgb(35, 92, 146);
    margin: 0px;
    padding: 5px 0px;
    width: 100%;
    color: white;
}

.progresslogo{
    vertical-align: middle;
    width: 15px;
}

.linksexample{
    margin-left: 10px;
}

.usuarios{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    text-align: center;
}

.usuarios article{
    background-color: rgb(74, 106, 174);
    color: white;
    padding: 10px;
}

.usuarios input{
    background-color: rgb(91, 190, 224);
    border: 1px solid rgb(91, 190, 224);
    color: white;
}

.usuarios img{
    width: 100px;
}
