body{
    font-size: 16px; /* 1em = 16px */
    max-width: 1078px;
    min-width: 1078px;
    margin: 0px auto;
}

footer{
    background-color: rgb(68, 101, 177);
    color: white;
    margin-top: 50px;
    box-shadow: 0px 0px 5px black;
}

footer article{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: -50px;
    vertical-align: bottom;
    text-align: center;
}


footer input[type="button"]{
    border-radius: 50px;
    border: 1px solid white;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(68, 101, 177);
    color: white;
    cursor: pointer;
    margin-left: 50px;
}




#paint{
    float: right;
    margin-top: -4 px;
}

header input{
    float: right;
    margin-right: -200px;
    margin-top: 30px;

}

#bgOffer{
    position: relative;
    top: -405px;
    left: -38px;
}

#personas{
    position: relative;
    top: -155px;
    left: 980px;
}

#facebook{
    position: relative;
    top: -60px;
    left: -120px;
}

#twitter{
    position: relative;
    top: -60px;
    left: -115px;
}


#granthams{
    margin-left: 25px;
    margin-top: 25px;
}

header nav ul li{
    color: gainsboro;
    font-size: 1.8em;
    display: inline-block;
    margin-right: 20px;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 5px;
}

header nav{
    margin-left: 220px;
}
#primerSeccion article{
    display: inline-block;
    vertical-align: top;
}

#primerSeccion{
    height: 318px;
    margin-top: 80px;
}

#secc01art01{
    width: 60%;
    margin-left: 30px;
    border: 1px solid gainsboro;
}


#secc01art02{
    width: 30%;
    margin-left: 50px;
    border: 1px solid gainsboro;
}

#secc01art02 ul li{
    list-style: none;
    margin-bottom: 2px;
    margin-left: -40px;
}

#secc01art02 ul li::before{
    content: "•";
    color: #feb8dd;
    margin-right: 10px;
    

}

.colorRosa{
    color: #FF1493;
}

.letraGrande{
    font-size: 3.5em;
}

.nito{
    font-weight: bold;
}

.LetraMediana{
    font-size: 2.5em;
}

#SegundaSeccion article{
    margin-right: 120px;
    text-align: right;
}

#terceraSeccion article{
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.colorVerde{
    color: #8bc500;
}

.colorAzul{
    color: #4267b3;
}

#terceraSeccion article img{
    vertical-align: middle;
}

#secc03art04{
    margin-top: 50px;
}


#secc03art04 input{
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

#secc03art04 input[type="button"]{
    background-color: #8bc500;
    color: white;
    cursor: pointer;
    border: none;

}




